textarea {
    font-size: 13px;
    width: 396px;
    height: 596px;
}

#auto-comp {
    position: absolute;
    visibility: hidden;
    z-index: 1071;
}

input {
    opacity: 1;
}

input:hover {
    cursor: default;
}

#hiddenTextarea, li, textarea {
    font-family: "Lucida Console", Monaco, monospace;
}

#hiddenTextarea {
    width: auto;
    position: fixed;
    visibility: visible;
    font-size: 13px;
    white-space: nowrap;
}

.tabs {
    margin-left: -40px;
}

li {
    font-size: 12px;
    list-style-type: none;
    margin-left: -40px;
}

ul {
    margin: 0 auto;
}

#autocomplete ul li {
    color: #000;
}

#auto-comp div ul li:hover, .active {
    background-color: #868686;
    color: #fff
}

#autocomplete {
    position: absolute;
    z-index: 1;
    overflow: auto;
    overflow-x: hidden;
    width: 233px;
    height: 150px;
    border: 1px solid #000;
}

li:hover {
    cursor: pointer;
}

.tabs {
    list-style: none;
    margin-top: 12px;
}

.tabs li {
    display: inline;
}

.tabs li a {
    color: #000;
    float: left;
    display: block;
    padding: 4px 6px;
    margin-left: -1px;
    position: relative;
    text-decoration: none;
    border: 1px solid #ccc;
    font-size: 8px;
}

.activated, .tabs li a:hover {
    background-color: #868686;
    color: #fff;
}

.system-true::before {
    content: "-";
}

.group:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.box-wrap {
    position: relative;
    min-height: 250px;
}

.tabbed-area {
    padding-top: 140px;
    background-color: #f5f5f5;
}

.cur-nav-fix .tabs {
    position: absolute;
    bottom: 100%;
    left: -1px
}

.cur-nav-fix .tabs li a {
    background: -webkit-linear-gradient(top, #fff, #eee);
    background: -moz-linear-gradient(top, #fff, #eee);
    background: -ms-linear-gradient(top, #fff, #eee);
    background: -o-linear-gradient(top, #fff, #eee)
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    outline: #999 solid 1px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}